*,
p {
  margin: 0;
  padding: 0;
}

div {
  /*-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;*/
  font-size: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  margin: 0 auto;
  max-width: 100% !important;
  overflow-x: hidden !important;
  position: relative;
}

h1 {
  padding: 50px;
  padding-left: 100;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-align: center;
  vertical-align: middle;
}
h2 {
  padding: 50px;
  padding-left: 100;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
}
nav {
  margin: 0;
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 68px;
  z-index: 99;
  /* float: left; */
  background-color: white;
  opacity: 0.75;
  display: none;
}
ul {
  list-style-type: none;
  margin: 0 0 0 70px;
  padding: 10px;
  /*height: 60px;*/
  padding: 0;
}
li {
  margin: 0;
  display: inline;
  float: left;
  height: auto;
  width: 100px;
  cursor: pointer;
  text-align: center;
}
.logo {
  margin: 10px;
  position: fixed;
  height: auto;
  width: 50px;
  z-index: 100;
  padding: 0 0;
}
#logo {
  width: 100%;
}
.ContactMe {
  position: fixed;
  right: 0;
  /* left: 85%; */
  height: auto;
  width: auto;
  z-index: 100;
  font-size: 20px;
  color: black;
  background: grey;
  margin: 10px;
  padding: 10px;
  opacity: 0.5;
  vertical-align: top;
}
.navlink {
  display: block;
  color: black;
  line-height: 80px;
  font-size: 14px;
  font-family: Quicksand, serif;
}
li :hover {
  background-color: #dcdcdc;
}

.svg-contain {
  overflow-x: hidden;
}

.TitleText {
  position: absolute;
  font-family: Raleway, serif;
  z-index: 99;
  width: 100%;
  text-align: center;
}

.DinoText {
  position: absolute;
  font-family: Abril Fatface, serif;
  z-index: 0;
  width: 35%;
  text-align: right;
  font-size: 8vh;
  padding: 90px 0px 0px 0px;
  color: white;
}

.DinoText2 {
  position: absolute;
  font-family: Raleway, serif;
  z-index: 0;
  width: 35%;
  text-align: right;
  font-size: 3.5vh;
  padding: 26% 0px 0 25px;
  color: #DDC69C;
}

.small-text {
  height: 100px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  font-family: Quicksand, serif;
  opacity: 0;
  color: #8b8d7a;
}

.border {
  color: black;
  width: 50%;
  margin: 0 auto;
  height: 400px;
}
.more_content {
    color: black;
    cursor: pointer;
    font-size: 40px;
    position: relative;
    top: 40%;
}
.more_content:hover {
    text-decoration:none;
}

#experiences {
  height: 450px;
  background-color: #331a00;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.experience {
  border-style: solid;
  border-color: black;
  background-color: #865b4b;
  height: 380px;
  vertical-align: middle;
  margin: 10px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  cursor: pointer;
  width: 31%;
  max-width: 31%;
  min-width: 31%;
  word-wrap: break-word;
}
.experience:hover {
  background-color: #9C7364;
}

.experience-type {
  font-family: Quicksand, serif;
  width: 40px;
  height: 380px;
  vertical-align: text-top;
  padding-left: 20px;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  color: white;
  font-size: 30px;
}

.experience-details {
  position: absolute;
  width: 84%;
  height: 400px;
  /* display: inline-block; */
  background-color: #865b4b;
  border-style: solid;
  border-color: black;
  z-index: 1;
  left: 10%;
  display: flex;
}

.experience-details-image {
  height:55%;display: block; margin-left: auto; margin-right: auto;
}

.experience-details-title {
  font-size: 30px; text-align: center;color: white; font-family: Quicksand, serif;
}

.experience-details-small {
  font-size: 22px; text-align: center;color: black; font-family: Quicksand, serif;
}

.experience-details-date {
  font-size: 13px; text-align: center;color: black; font-family: Quicksand, serif;
}

.experience-details-large {
  font-size: 16px; text-align: left;color: white; font-family: Quicksand, serif;padding: 20px; border-left: solid 2px;
}

.experience-logo {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .expanding_div {
  width: 0;
  height: 400px;
  display: inline-block;
} */

.hiding_div {
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex !important;
  width: 0;
  height: 90%;
  justify-content: left;
}

.experience-title {
  font-size: 24px;
  color: white;
  font-family: Quicksand, serif;
  text-align: center;
}

.experience-small {
  font-size: 20px;
  height: 60px;
  color: black;
  font-family: Quicksand, serif;
  text-align: center;
}



.contact {
  height: 65%;
  background-color: #8b8d7a;
  border: solid;
  border-color: black;
}

.contactGreeting {
  font-size: 50px;
  text-align: center;
  padding-bottom: 0;
  vertical-align: middle;
}

#undermountain {
  height: 100px;
  width: auto;
  margin: 0;
  background: linear-gradient(black, #331a00, #331a00);
}

#undermountain p {
  font-size: 60px;
  font-family: Raleway;
  color: white;
  line-height: 65px;
  left: 50px;
  /* position:absolute; */
  text-align: center;
}

#disappearing_div_one {
  background-color: black;
}

@media only screen and (max-width: 650px) {
  .DinoText {
    font-size: 6vh;
  }
  .DinoText2 {
    padding: 75% 0 0 25px;
  }
  .contactGreeting {
    font-size: 40px;
    padding-top: 0;
  }
}

/* @media only screen and (max-width: 900px) {
  .ContactMe {
    left: 80%;
  }
}

@media only screen and (max-width: 670px) {
  .ContactMe {
    left: 70%;
  }
}

@media only screen and (max-width: 455px) {
  .ContactMe {
    left: 60%;
  }
}

@media only screen and (max-width: 340px) {
  .ContactMe {
    left: 55%;
  } */
}
