*, p {
  margin: 0;
  padding: 0;
}

div {
  /*-webkit-transform: translateZ(0);-webkit-backface-visibility: hidden;-webkit-perspective: 1000;*/
  font-size: 0;
  margin: 0;
 }

html, body {
    width: 100%;
    margin: 0 auto;
    max-width: 100% !important;
    overflow-x: hidden !important;
    position: relative;
}

h1 {
  padding:50px;
  padding-left: 100;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size:100px;
  text-align: center;
  vertical-align:middle;
}
h2 {
  padding:50px;
  padding-left: 100;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size:24px;
}
nav {
  margin: 0;
  position: fixed;
  width:100%;
  overflow: hidden;
  height: 68px;
  z-index: 99;
  /* float: left; */
  background-color: white;
  opacity: 0.75;
  display: none;
}
ul {
  list-style-type: none;
  margin: 0 0 0 70px;
  padding: 10px;
  /*height: 60px;*/
  padding:0;
}
li {
  margin: 0;
  display: inline;
  float: left;
  height:auto;
  width: 100px;
  cursor: pointer;
  text-align: center;
}
.logo {
  margin: 10px;
  position: fixed;
  height: auto;
  width: 100px;
  z-index: 100;
}
#logo{
  width: 50%;
}
.ContactMe {
  position: fixed;
  left:85%;
  height: auto;
  width: auto;
  z-index: 100;
  font-size: 20px;
  color: black;
  background: grey;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px;
  opacity: 0.5;
  vertical-align: top;
}
.navlink {
  display:block;
  color:black;
  line-height: 80px;
}
li :hover {
  background-color:#DCDCDC;
}

.svg-contain {
  overflow-x: hidden;
}

.TitleText {
    position:absolute;
    font-family: Raleway,serif;
    z-index: 99;
    width:100%;
    text-align:center;
}

.DinoText {
    position:absolute;
    font-family: Abril Fatface,serif;
    z-index: 0;
    width:35%;
    text-align:right;
    font-size: 8vh;
    padding: 90px 0px 0px 0px;
}

.DinoText2 {
    position:absolute;
    font-family: Raleway,serif;
    z-index: 0;
    width:35%;
    text-align:right;
    font-size: 3.5vh;
    padding: 25% 0px 0 25px;
}

.small-text{
  height: 100px;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  font-family: Quicksand,serif;
  opacity: 0;
  color: #8B8D7A;
}

.border {
  color:black;
  width:50%;
  margin: 0 auto;
  height:400px;
}

.experience {
  border-style: solid;
  border-color: black;
  background-color: #663625;
  height: 380px;
  vertical-align: middle;
  margin: 10px;
  opacity: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.experience-details {
  border-style: solid;
  border-color: black;
  background-color: black;
  height: 380px;
  vertical-align: middle;
  margin: 10px;
  opacity: 0;
}
.experience-details p{
  position:absolute;
  font-size: 16px;
  font-family: Quicksand,serif;
  color: white;
  padding: 10px;"
}
.experience-details:hover {
  /*cursor: pointer;*/
  border-style: solid;
  border-color: black;
  background-color: black;
  height: 380px;
  vertical-align: middle;
  margin: 10px;
  opacity: 0.75;
}
.experience-logo {
  height: 200px;
  display : flex;
  align-items : center;
}

.expanding_div {
  width: 0;
  height: 400px;
  display: inline-block;
}

.hiding_div {
   overflow: hidden; display: none;
}

.contact {
  height:65%;
  background-color: #8B8D7A;
  border: solid;
  border-color: black;
}

.contactGreeting {
  font-size:50px;
  text-align:center;
  padding-bottom: 0;
  vertical-align: middle;
}

#undermountain {
  height:100px;
  width: auto;
  margin:0;
}

#undermountain p {
  font-size:60px;
  font-family: Raleway;
  color:white;
  line-height:65px;
  left:50px;
  /* position:absolute; */
  text-align: center;
}

#disappearing_div_one {
  background-color:black;
}

@media only screen and (max-width: 650px) {
  .DinoText{
    font-size: 6vh;
  }
  .DinoText2{
    padding: 75% 0 0 25px;
  }
  .contactGreeting {
    font-size:40px;
    padding-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  .ContactMe {
    left:80%;
  }
}

@media only screen and (max-width: 670px) {
  .ContactMe {
    left:70%;
  }
}

@media only screen and (max-width: 455px) {
  .ContactMe {
    left:60%;
  }
}

@media only screen and (max-width: 340px) {
  .ContactMe {
    left:55%;
  }
}
